.login_wrapper {
  display: flex;
  /* justify-content:center; */
  height: 85vh;
  background-image: url("../../images//evangadi_bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginClass {
  padding-top: 100px;
  width: 50%;
  margin-top: 100px;
  margin-left: 300px;
  margin-bottom: 100px;
  background-color: white;
  z-index: 10;

  border: 1px solid;

  box-shadow: 5px 10px 18px white;
  text-align: center;
}

input[type="text"] {
  /* width: 45vw; */
  height: 50px;
  padding: 3px;
  font-size: 1.8rem;
  border: 1px solid gray;
}
input[type="password"] {
  /* width: 45vw; */
  height: 50px;
  margin-top: 10px;
  padding: 3px;
  font-size: 1.8rem;
  border: 1px solid gray;
}

.aboutClass {
  padding-top: 100px;
  width: 50%;
  margin: 100px auto;
  text-align: center;
}

.login_btn,
.howitworks-btn {
  margin-left: 300px;
  margin-right: 300px;
  padding: 14px 16px;

  color: #000;
  background-color: orange;
  opacity: 1;
}
