.header{
    display: flex;
    justify-content: space-around;
    width: 50%;
    position:fixed;
    height: 100px;
    margin:  auto 350px;
    box-shadow: whitesmoke;

}

.log_img{
    
}

.header_link{
    display: flex;
    justify-content: space-between;
}

.header_link li{
    list-style: none;
    padding: 10px;
    
    
}

.header_link ul{
    text-decoration: none;
}


.header-btn{
    
        padding: 14px 30px;
        color:white;
        background-color:blue;
        opacity: 1;
}